<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog Site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="jquery-3.5.1.min.js"></script>
<div th:replace="/fragments/styling :: head-style"></div>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<h1>Welcome to Our Blog Post Site!</h1>

		<div class="row">
			<div th:each="blog:${posts}">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 th:text="${blog.title}"></h2>
						</div>
						<div class="panel-body">
							<strong><p th:text="${blog.author}" /></strong>
							<p th:text="${blog.blogEntry}" />
						</div>
						<div class="panel-footer">
							<!-- Link to Update -->
							<div class="card-footer">
								<a href="#" th:href="@{blogposts/{id}(id=${blog.id})}">
									<button class="btn btn-light">Edit Post</button></a> 
								<a th:href="@{blogposts/delete/{id}(id=${blog.id})}"
									class="btn btn-danger btn-sm py-1"
									th:data-confirm-delete="|Are you sure you want to delete this post?|"
									 onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
									>
									Delete Post
									</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="/fragments/styling :: body-links"></div>
	</div>
</body>
</html>